.cart-item-div {
  height: 250px;
  width: 100%;
  border-top: 1px solid #DDD;
  display: flex;
  justify-content: space-between;
}

.cart-item-img-div {
  height: 100%;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item-img-link {
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item-img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.cart-item-info {
  height: 100%;
  width: 650px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.cart-item-name {
  width: fit-content;
  font-size: 20px;
  margin-bottom: 7px;
  color: black;
}

.cart-item-seller {
  font-size: 14px;
  color: #007185;
  margin-bottom: 16px;
}

.cart-item-availability {
  font-size: 16px;
  color: #007600;
  margin-bottom: 16px;
}

.cart-item-unit-price {
  font-size: 16px;
  color: #b12704;
  margin-bottom: 16px;
}

.cart-item-quantity-div {
  display: flex;
  margin-bottom: 16px;
}

.cart-item-quantity-text {
  font-size: 14px;
  margin: 1px 7px 0 0;
}

.cart-item-quantity-select {
  border-radius: 3px;
  outline: none;
  background-color: white;
  width: 40px;
}

.cart-item-delete {
  width: fit-content;
  color: #007185;
  font-size: 14px;
}

.cart-item-delete:hover, .cart-item-deleted-link:hover {
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

.cart-item-price {
  width: 145px;
  padding: 16px 0;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

.cart-item-deleted {
  height: 75px;
  width: 100%;
  border-top: 1px solid #DDD;
  display: flex;
  align-items: center;
}

.cart-item-deleted-link {
  color: #007185;
  font-size: 14px;
}
