.login-container {
  font-family: 'amazonEmber';
  width: 100%;
  height: 100%;
}

.login-div {
  display: block;
  width: 348px;
  height: 50%;
  /* height: 300px; */
  margin: auto;
  padding: 20px 26px;
  margin-top: 20px;
  border: 1px solid #DDD;
  border-radius: 4px;
}

.login-signup-link-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 348px;
  height: 278px;
  margin: auto;
  text-align: center;
  padding: 20px 0px;
}

.login-signup-bottom-divider {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 40px;
  background: linear-gradient(to right, #fff, rgb(173, 173, 173), #fff);
  z-index: 1;
}

.login-header {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}

.login-cred-1-text, .login-cred-2-text {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 14px;
}

.login-error-message {
  display: block;
  font-size: 13px;
  color: #c40000;
  margin-bottom: 4px;
}

.login-cred-1-input, .login-cred-2-input {
  display: block;
  margin-top: 4px;
  border: 1px solid #A6A6A6;
  height: 31px;
  width: 100%;
  padding: 3px 7px;
  border-radius: 3px;
}

.login-cred-1-input:focus, .login-cred-2-input:focus {
  outline: none !important;
  border: 1px solid darkorange;
  border-color: darkorange;
  box-shadow: 0 0 5px darkorange;
}

.login-submit {
  display: block;
  height: 31px;
  width: 100%;
  font: 400 13.3333px 'amazonEmber';
  border: 1px solid #A6A6A6;
  border-radius: 3px;
  border-color: #a88734 #9c7e31 #846a29;
  background: linear-gradient(to bottom, #ebddbc, #f8c134);
  margin-bottom: 14px;
}

.login-submit:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, #f7dd9c, #f0b215);
}

.login-submit:focus {
  box-shadow: 0 0 5px darkorange;
}

.login-submit:active {
  background: #fac643;
  box-shadow: inset 0 0 2px gray, 0 0 5px darkorange;
}

.login-signup-text {
  display: inline-block;
  width: 35%;
  font-size: 13px;
  color: #767676;
  z-index: 2;
  background-color: #fff;
  margin-bottom: 14px;
}

.login-signup-text-strikethrough {
  width: 100%;
  background-color: transparent;
  display: block;
  height: 1px;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  top: 50%;
  margin-top: -113px;
  z-index: 1;
}

.login-signup-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  width: 100%;
  font: 400 13.3333px 'amazonEmber';
  color: black;
  border: 1px solid #A6A6A6;
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
}

.login-signup-link:hover {
  background: linear-gradient(to bottom,#f7f8fa,#d4d5d8);
}

.login-signup-link:focus {
  box-shadow: 0 0 5px darkorange;
}

.login-signup-link:active {
  background: #dedfe4;
  box-shadow: inset 0 0 2px gray, 0 0 5px darkorange;
}

.login-demo-button {
  display: block;
  height: 31px;
  width: 100%;
  font: 400 13.3333px 'amazonEmber';
  border: 1px solid #A6A6A6;
  border-radius: 3px;
  border-color: #a88734 #9c7e31 #846a29;
  background: linear-gradient(to bottom, #ebddbc, #f8c134);
  margin-bottom: 14px;
}

.login-demo-button:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, #f7dd9c, #f0b215);
}

.login-demo-button:focus {
  box-shadow: 0 0 5px darkorange;
}

.login-demo-button:active {
  background: #fac643;
  box-shadow: inset 0 0 2px gray, 0 0 5px darkorange;
}

.login-or {
  font-size: 13px;
  color: #767676;
  text-align: center;
  margin-bottom: 14px;
}

