.review-main-div {
  display: flex;
  height: fit-content;
  width: 600px;
  margin: 30px 20px;
}

.review-avatar-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.review-avatar-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 50%;
  width: 90%;
  height: auto;
}

.review-avatar {
  width: 100%;
  height: 100%;
}

.review-name {
  margin-top: 8px;
  text-overflow: clip;
}

.review-info {
  width: 80%;
  margin-left: 28px;
  font-size: 14px;
}

.review-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-title {
  font-weight: bold;
  max-width: 250px;
}

.review-rating {
  margin-top: 10px;
}

.review-body {
  margin-top: 10px;
}

.review-edit-button {
  margin-top: 18px;
  width: fit-content;
  color: #007185;
  font-size: 14px;
}

.review-edit-button:hover {
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}
