:root {
  --star-size: 25px;
  --star-color: #DDD;
  --star-background: orange;
  // --star-background: #fc0;
}

.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
  
  &::before {
    content: '★★★★★';
    letter-spacing: -2px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.mid-stars {
  font-size: 30px;
}

.big-stars {
  font-size: 35px;
}
